**{{course}}, {{term}}**\
Instructor: {{instructor}}\
{{name}}, {{date}}

{% set i_q = 1 -%}
{% for q in questions -%}
{{i_q}}. {{ q.question }}
    \hfill\break
{% set i_q = i_q + 1 -%}
{% endfor -%}

